if MOKULATE_V2_RIGHT

config ZMK_KEYBOARD_NAME
    default "Mokulate"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if MOKULATE_V2_LEFT || MOKULATE_V2_RIGHT

config ZMK_SPLIT
    default y

endif