#include "Mokulate.dtsi"
#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&default_transform {
    col-offset = <6>;
};

&kscan0 {
    col-gpios
        = <&xiao_d 5 GPIO_ACTIVE_HIGH>   /* Col0 */
        , <&xiao_d 4 GPIO_ACTIVE_HIGH>   /* Col1 */
        , <&xiao_d 7 GPIO_ACTIVE_HIGH>   /* Col2 */
        , <&xiao_d 8 GPIO_ACTIVE_HIGH>   /* Col3 */
        , <&xiao_d 9 GPIO_ACTIVE_HIGH>   /* Col4 */
        , <&xiao_d 10 GPIO_ACTIVE_HIGH>  /* Col5 */
        ;
    row-gpios
        = <&xiao_d 3 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* Row0 */
        , <&xiao_d 2 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* Row1 */
        , <&xiao_d 1 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* Row2 */
        , <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>  /* Row3 */
        ;
};

&xiao_serial { status = "disabled"; };


// PAW3222 Trackball Configuration
// Wiring: CS=GND, MOTION=P0.10, SDIO=P0.09, SCLK=P1.11

&pinctrl {
    spi3_default: spi3_default {
        group1 {
            /* SCLK: D6 (P1.11) */
            /* SDIO: NFC1 (P0.09) を MOSI/MISO 両方に割り当て */
            psels = <NRF_PSEL(SPIM_SCK, 1, 11)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>,
                    <NRF_PSEL(SPIM_MISO, 0, 9)>;
        };
    };

    spi3_sleep: spi3_sleep {
        group1 {
            psels = <NRF_PSEL(SPIM_SCK, 1, 11)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 9)>,
                    <NRF_PSEL(SPIM_MISO, 0, 9)>;
            low-power-enable;
        };
    };
};

&spi3 {
    status = "okay";
    compatible = "nordic,nrf-spim";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";


    trackball: trackball@0 {
        status = "okay";
        compatible = "pixart,paw3222";
        reg = <0>;
        spi-max-frequency = <2000000>;
        /* MOTION: NFC2 (P0.10) */
        irq-gpios = <&gpio0 10 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;
    };
};

// Trackball input listener (central side - direct processing)
/ {
    trackball_listener: trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;
        input-processors = <&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)>;
        status = "okay";
    };
};